counter/counter_Implmnt/.recordref
counter/counter_Implmnt/AutoConstraint_counter.sdc
counter/counter_Implmnt/counter_cck.rpt
counter/counter_Implmnt/counter_scck.rpt
counter/counter_Implmnt/counter_synplify.fdc
counter/counter_Implmnt/counter.edf
counter/counter_Implmnt/counter.fse
counter/counter_Implmnt/counter.htm
counter/counter_Implmnt/counter.map
counter/counter_Implmnt/counter.sap
counter/counter_Implmnt/counter.scf
counter/counter_Implmnt/counter.srd
counter/counter_Implmnt/counter.srm
counter/counter_Implmnt/counter.srr
counter/counter_Implmnt/counter.srs
counter/counter_Implmnt/rpt_counter_areasrr.htm
counter/counter_Implmnt/rpt_counter.areasrr
counter/counter_Implmnt/run_options.txt
counter/counter_Implmnt/scratchproject.prs
counter/counter_Implmnt/dm/layer0.xdm
counter/counter_Implmnt/sbt/Log/iceCube0.log
counter/counter_Implmnt/sbt/Temp/sbt_temp.sdc
counter/counter_Implmnt/sbt/netlist/oadb-counter/lib.defs
counter/counter_Implmnt/sbt/netlist/oadb-counter/BFPGA_DESIGN_ep/.oalib
counter/counter_Implmnt/sbt/netlist/oadb-counter/BFPGA_DESIGN_ep/counter/%I%N%T%E%R%F%A%C%E/master.tag
counter/counter_Implmnt/sbt/netlist/oadb-counter/BFPGA_DESIGN_ep/counter/%I%N%T%E%R%F%A%C%E/netlist.oa
counter/counter_Implmnt/sbt/netlist/oadb-counter/BFPGA_DESIGN_pk/.oalib
counter/counter_Implmnt/sbt/netlist/oadb-counter/BFPGA_DESIGN_pk/counter/%I%N%T%E%R%F%A%C%E/master.tag
counter/counter_Implmnt/sbt/netlist/oadb-counter/BFPGA_DESIGN_pk/counter/%I%N%T%E%R%F%A%C%E/netlist.oa
counter/counter_Implmnt/sbt/netlist/oadb-counter/BFPGA_DESIGN_pl/.oalib
counter/counter_Implmnt/sbt/netlist/oadb-counter/BFPGA_DESIGN_pl/counter/%I%N%T%E%R%F%A%C%E/master.tag
counter/counter_Implmnt/sbt/netlist/oadb-counter/BFPGA_DESIGN_pl/counter/%I%N%T%E%R%F%A%C%E/netlist.oa
counter/counter_Implmnt/sbt/netlist/oadb-counter/BFPGA_DESIGN_rr/.oalib
counter/counter_Implmnt/sbt/netlist/oadb-counter/BFPGA_DESIGN_rr/counter/%I%N%T%E%R%F%A%C%E/master.tag
counter/counter_Implmnt/sbt/netlist/oadb-counter/BFPGA_DESIGN_rr/counter/%I%N%T%E%R%F%A%C%E/netlist.oa
counter/counter_Implmnt/sbt/netlist/oadb-counter/BFPGA_DESIGN_rt/.oalib
counter/counter_Implmnt/sbt/netlist/oadb-counter/BFPGA_DESIGN_rt/counter/%I%N%T%E%R%F%A%C%E/master.tag
counter/counter_Implmnt/sbt/netlist/oadb-counter/BFPGA_DESIGN_rt/counter/%I%N%T%E%R%F%A%C%E/netlist.oa
counter/counter_Implmnt/sbt/outputs/counter_sbt.rpt
counter/counter_Implmnt/sbt/outputs/bitmap/counter_bitmap_glb.txt
counter/counter_Implmnt/sbt/outputs/bitmap/counter_bitmap_int.hex
counter/counter_Implmnt/sbt/outputs/bitmap/counter_bitmap.bin
counter/counter_Implmnt/sbt/outputs/bitmap/counter_bitmap.hex
counter/counter_Implmnt/sbt/outputs/bitmap/counter_bitmap.nvcm
counter/counter_Implmnt/sbt/outputs/gui/counter_counter_timingviewer.cfg
counter/counter_Implmnt/sbt/outputs/netlister/counter_sbt.sdc
counter/counter_Implmnt/sbt/outputs/packer/counter_cell_sbt.pcf
counter/counter_Implmnt/sbt/outputs/packer/counter_info.log
counter/counter_Implmnt/sbt/outputs/packer/counter_io_pcf.log
counter/counter_Implmnt/sbt/outputs/packer/counter_lgc_sbt.pcf
counter/counter_Implmnt/sbt/outputs/packer/counter_pack.rpt
counter/counter_Implmnt/sbt/outputs/packer/counter_pin_table.CSV
counter/counter_Implmnt/sbt/outputs/packer/counter_pk.sdc
counter/counter_Implmnt/sbt/outputs/placer/counter_pl.sdc
counter/counter_Implmnt/sbt/outputs/placer/counter_sbt.edf
counter/counter_Implmnt/sbt/outputs/placer/counter_sbt.pcf
counter/counter_Implmnt/sbt/outputs/placer/counter_sjpl.sdc
counter/counter_Implmnt/sbt/outputs/placer/packing_clustering.result
counter/counter_Implmnt/sbt/outputs/placer/placer.log
counter/counter_Implmnt/sbt/outputs/router/cascad_info.txt
counter/counter_Implmnt/sbt/outputs/router/counter_router.rpt
counter/counter_Implmnt/sbt/outputs/router/counter.route
counter/counter_Implmnt/sbt/outputs/router/counter.rt_log
counter/counter_Implmnt/sbt/outputs/simulation_netlist/counter_sbt_vital.sdf
counter/counter_Implmnt/sbt/outputs/simulation_netlist/counter_sbt.sdf
counter/counter_Implmnt/sbt/outputs/simulation_netlist/counter_sbt.v
counter/counter_Implmnt/sbt/outputs/simulation_netlist/counter_sbt.vhd
counter/counter_Implmnt/sbt/outputs/timer/counter_timing.rpt
counter/counter_Implmnt/synlog/counter_compiler.srr
counter/counter_Implmnt/synlog/counter_compiler.srr.rptmap
counter/counter_Implmnt/synlog/counter_fpga_mapper.srr
counter/counter_Implmnt/synlog/counter_fpga_mapper.szr
counter/counter_Implmnt/synlog/counter_fpga_mapper.xck
counter/counter_Implmnt/synlog/counter_multi_srs_gen.srr
counter/counter_Implmnt/synlog/counter_premap.srr
counter/counter_Implmnt/synlog/counter_premap.szr
counter/counter_Implmnt/synlog/layer0.tlg.rptmap
counter/counter_Implmnt/synlog/syntax_constraint_check.rpt.rptmap
counter/counter_Implmnt/synlog/report/counter_compiler_notes.txt
counter/counter_Implmnt/synlog/report/counter_compiler_runstatus.xml
counter/counter_Implmnt/synlog/report/counter_fpga_mapper_area_report.xml
counter/counter_Implmnt/synlog/report/counter_fpga_mapper_combined_clk.rpt
counter/counter_Implmnt/synlog/report/counter_fpga_mapper_errors.txt
counter/counter_Implmnt/synlog/report/counter_fpga_mapper_notes.txt
counter/counter_Implmnt/synlog/report/counter_fpga_mapper_opt_report.xml
counter/counter_Implmnt/synlog/report/counter_fpga_mapper_resourceusage.rpt
counter/counter_Implmnt/synlog/report/counter_fpga_mapper_runstatus.xml
counter/counter_Implmnt/synlog/report/counter_fpga_mapper_timing_report.xml
counter/counter_Implmnt/synlog/report/counter_fpga_mapper_warnings.txt
counter/counter_Implmnt/synlog/report/counter_premap_errors.txt
counter/counter_Implmnt/synlog/report/counter_premap_notes.txt
counter/counter_Implmnt/synlog/report/counter_premap_runstatus.xml
counter/counter_Implmnt/synlog/report/counter_premap_warnings.txt
counter/counter_Implmnt/syntmp/closed.png
counter/counter_Implmnt/syntmp/cmdrec_compiler.log
counter/counter_Implmnt/syntmp/cmdrec_fpga_mapper.log
counter/counter_Implmnt/syntmp/cmdrec_multi_srs_gen.log
counter/counter_Implmnt/syntmp/cmdrec_premap.log
counter/counter_Implmnt/syntmp/counter_srr.htm
counter/counter_Implmnt/syntmp/counter_toc.htm
counter/counter_Implmnt/syntmp/counter.plg
counter/counter_Implmnt/syntmp/open.png
counter/counter_Implmnt/syntmp/run_option.xml
counter/counter_Implmnt/syntmp/statusReport.html
counter/counter_Implmnt/synwork/_mh_info
counter/counter_Implmnt/synwork/.cckTransfer
counter/counter_Implmnt/synwork/.complist
counter/counter_Implmnt/synwork/counter_comp.fdep
counter/counter_Implmnt/synwork/counter_comp.srs
counter/counter_Implmnt/synwork/counter_m.srm
counter/counter_Implmnt/synwork/counter_mult.srs
counter/counter_Implmnt/synwork/counter_prem.fse
counter/counter_Implmnt/synwork/counter_prem.srd
counter/counter_Implmnt/synwork/layer0.fdep
counter/counter_Implmnt/synwork/layer0.fdeporig
counter/counter_Implmnt/synwork/layer0.srs
counter/counter_Implmnt/synwork/layer0.tlg
counter/counter_Implmnt/synwork/counter_m_srm/fileinfo.srm
counter/counter_Implmnt/synwork/counter_mult_srs/fileinfo.srs
counter/counter_Implmnt/synwork/counter_mult_srs/skeleton.srs
